<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="clock">
        <div class="date_love">
            <div class="strip">
                {% for i in range(3) %}
                <div class="number">{{i}}</div>
                {% endfor %}

            </div>
            <div class="strip">
                {% for i in range(10) %}
                <div class="number">{{i}}</div>
                {% endfor %}
            </div>
            <div class="strip">
                {% for i in range(10)%}
                <div class="number">{{i}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="hr" >
            <div class="strip">
                {% for i in range(3) %}
                <div class="number">{{i}}</div>
                {% endfor %}

            </div>
            <div class="strip">
                {% for i in range(10) %}
                <div class="number">{{i}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="min">
            <div class="strip">
                {% for i in range(6) %}
                <div class="number">{{i}}</div>
                {% endfor %}
            </div>
            <div class="strip">
                {% for i in range(10) %}
                <div class="number">{{i}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="sec">
            <div class="strip">
                {% for i in range(6) %}
                <div class="number">{{i}}</div>
                {% endfor %}
            </div>
            <div class="strip">
                {% for i in range(10) %}
                <div class="number">{{i}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', path='/js/clock.js')  }}"></script>
    
</body>

</html>